* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.wrapper {
    background-color: #D6DAE1;
    /* display: flex; */
    /* Добавить ссылку на flex-ы */
    justify-content: center;
    min-height: 200vh;
    /* Добавить ссылку на единицы измерений в css */
    /* Добавить ссылку на позиционирование элементов */
}

.todo-app {
    background-color: #343745;
    color: #FFFFFF;
    padding: 44px 40px 36px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.app_header {
    background-color: #FDFDFF;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    list-style-type: none;
}

.app_header_text {
    color: #383A3E;
    font-size: 32px;
    margin-top: 20px;
    display: inline-block;
    margin-left: 40px;
    font-weight: bold;
}

.app_header_month {
    color: #383A3E;
    font-size: 24px;
    margin-top: 20px;
    width: 230px;
    display: inline-block;
    text-align: center;
    font-weight: 500;
}

.app_header_button_left {
    background-color: #FDFDFF;
    color: #383A3E;
    font-size: 28px;
    margin-top: 11px;
    display: inline-block;
    margin-left: 120px;
    border-radius: 50px;
    width: 40px;
    border: 4px solid #E6E9F0;
}

.app_header_button_left:hover {
    background-color: #F8F8FB;
    border: 4px solid #D0D3DA;
}

.app_header_button_right {
    background-color: #FDFDFF;
    color: #383A3E;
    font-size: 28px;
    margin-top: 11px;
    display: inline-block;
    border-radius: 50px;
    width: 40px;
    border: 4px solid #E6E9F0;
}

.app_header_button_right:hover {
    background-color: #F8F8FB;
    border: 4px solid #D0D3DA;
}

.app_header_tasks {
    background-color: #2E3F6C;
    color: #383A3E;
    font-size: 32px;
    font-weight: bold;
    height: 80px;
    width: 330px;
    border-radius: 10px 0px 0px 0px;
    display: inline-block;
    margin-top: 0;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.6);
    text-align: center;
    position: absolute;
    z-index: 1;
    right: 0;
}

.app_tasks_text {
    color: #FDFDFF;
    font-size: 28px;
    margin-top: 24px;
    display: inline-block;
    margin-left: -160px;
    font-weight: bold;
}

.app_body {
    display: inline-block;
}

/* ---------------------CALENDAR------------*/

.app_calendar {
    display: inline-block;
    height: 320px;
    width: 240px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #FDFDFF;
    border-radius: 10px;
    padding: 0px 10px;
    float: left;
}

.calendar_header_button {
    background-color: #E6E9F0;
    color:#383A3E;
    padding: 6px 8px;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4px;
    border: 0px;
}

.calendar_header_button:hover {
    background-color: #D0D3DA;
}

.calendar_button {
    background-color: #FDFDFF;
    color: #383A3E;
    font-size: 18px;
    display: inline-block;
    border-radius: 50px;
    width: 27px;
    border: 3px solid #E6E9F0;
}

.calendar_button:hover {
    background-color: #F8F8FB;
    border: 3px solid #D0D3DA;
}

.month {
    padding: 10px 10px;
    width: 100%;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month .prev {
    float: left;
}

.month .next {
    float: right;
}

.month_text {
    color: #383A3E;
    font-size: 16px;
    padding: 6px;
}

.weekdays {
    margin: 0;
    padding: 10px 3px;
    font-size: 14px;
    background-color: #FDFDFF;
    color: #82868E;
}

.weekdays li {
    display: inline-block;
    width: 12.5%;
    color: #8D929B;
    text-align: center;
}

.another_month_button {
    background-color: #FDFDFF;
    color: #82868E;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    width: 22px;
    height: 22px;
}

.another_month_button:hover {
    background-color: #F2F4F6;
}

.days_button {
    background-color: #FDFDFF;
    color: #383A3E;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    width: 22px;
    height: 22px;
    margin: 0;
}

.days_button:hover {
    background-color: #F2F4F6;
}

.days {
    padding: 10px 3px;
    background: #FDFDFF;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 12.2%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #383A3E;
}

.days li .today_button {
    padding: 4px;
    border-radius: 16px;
    border: none;
    background: #475F9F;
    color: #FDFDFF !important
}

.days li .today_button:hover {
    background: #2649A6;
}

.days li .active_button {
    padding: 4px;
    border-radius: 16px;
    border: 3px solid #475F9F;
    background: #FDFDFF;
}

/* ---------------------CALENDAR------------*/

.events {
    display: inline-block;
    height: 1085px;
    width: 624px;
    background-color: #FDFDFF;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 10px;
    float: left;
}

.tasks {
    display: inline-block;
    background-color: #2E3F6C;
    height: 1105px;
    width: 330px;
    margin-left: 24px;
    position: absolute;
    z-index: 0;
    right: 0;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 10px 10px;
}

.new_task_button {
    background-color: #202E53;
    color: #507AEC;
    padding: 8px 10px;
    font-size: 24px;
    border-radius: 6px;
    margin-top: 16px;
    margin-left: 22px;
    margin-bottom: 16px;
    border: 0px;
}

.new_task_button:hover {
    background-color: #172854;
    color: #3268F6;
}

.todo-app__list {
    margin-bottom: 40px;
    margin-left: 22px;
    margin-right: 22px;
}

.todo-list__todo {
    margin-bottom: 8px;
    background-color: #2E3F6C;
    border-radius: 8px;
    padding: 16px;
}

.todo-list__todo:hover {
    background-color: #3B5189;
}

.todo-list__todo_done {
    background-color: #3B5189;
    text-decoration: line-through;
}
.todo-list__todo_done:hover {
    background-color: #455E9F;
}

.todo-app__todo-text {
    margin-left: 12px;
}

.todo-app__new-todo {
    /*width: 100%;*/
    display: flex;
}

.todo-app__new-todo-value {
    border: none;
    outline: none;
    height: 42px;
    width: 286px;
    padding-left: 12px;
    margin-right: 22px;
    margin-left: 22px;
    margin-bottom: 16px;
    border-radius: 6px;
}
